
<div class="container">
  <div class="row">
    <h1>Flats</h1>
  </div>
  <div class="row align-item-end">
    <h4>Number of flats: <%=@flats.count%></h4>
  </div>
  <div class="row">
      <% @flats.each do |flat|%>
    <div class="col-md-3">
      <div class="flat-card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title"><%= flat.name%></h5>
          <p class="card-text"><%=flat.description%></p>
          <%= link_to "details about this flat", flat_path(flat), class:"btn btn-primary"%>


        </div>
      </div>
    </div>
      <%end%>
  </div>
</div>
